@import './variables';

body {
  background-color: $app-bg-color;

  #app-container {

    #app {
      font-family: "Open Sans", sans-serif;
    }

    .boxed {
      max-width: $layout-max-width;
      margin-left: auto;
      margin-right: auto;
      padding: 0 16px;
    }

    h1 {
      font-family: "Open Sans Semibold", sans-serif;
      margin-bottom: 16px;
    }
  }
}
