// colors
$app-bg-color: #fff;
$header-bg-color: #666;
$header-color: #fff;
$nav-bg-color: #fff;
$nav-color: #555;
$content-bg-color: transparent;
$content-color: #555;
$footer-bg-color: #666;
$footer-color: #fff;

// layout
$header-min-height: 100px;
$footer-min-height: 80px;
$layout-max-width: 1200px;
