<template>
    <section class="app-content" :class="{loading}" :style="{transition: `opacity ${transitionDuration}ms, margin-left 2s`}">
        <div class="boxed">
            <!-- content that got injected server-side -->
            <div class="initialContent" v-if="showInitialContent">
                <slot></slot>
            </div>
            <!-- content that gets loaded and injected client-side -->
            <component :is="fetchedContent"></component>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                fetchedContent: {
                    template: `<span></span>`
                },
                showInitialContent: true,
                loading: false,
                loadingStarted: null,
                transitionDuration: 500
            }
        },

        mounted() {
            this.$router.afterEach(this.updateView);
            if (location.hash) {
                this.scrollToElement(location.hash);
            }
        },

        methods: {
            /**
             * Fetches the view associated with a changed route
             */
            updateView: app.debounce(function (to, from) {
                // ignore hash-only changes
                let isHashChange = (from.path === to.path)
                    && (JSON.stringify(from.query) === JSON.stringify(to.query))
                    && from.hash !== to.hash;
                if (isHashChange) {
                    return this.scrollToElement(to.hash);
                }

                // scroll to top
                this.$vuetify.goTo('#app-container', { duration: this.transitionDuration});

                // set loading flag to transition out
                this.loading = true;
                this.loadingStarted = Date.now();

                // load new content
                let href = to.fullPath;
                this.$http.get(href)
                .then(
                    this.renderContent,
                    error => {
                        if (error && error.body) {
                            this.renderContent(error);
                        } else {
                            console.log('Error:', error);
                        }
                    }
                );
            }, 100),

            /**
             * Re-renders the content area with given response
             */
            renderContent(response) {
                // make sure the transition is complete
                let loadDuration = Date.now() - this.loadingStarted;
                if (loadDuration < this.transitionDuration) {// still transitioning
                    return setTimeout(() => this.renderContent(response), 100);
                }

                // update title
                let titleMatch = response.bodyText.match(/<title>(.*)<\/title>/);
                if (titleMatch) {
                    document.querySelector('title').innerText = titleMatch[1];
                }

                // update app.path
                if (response.headers.has('x-app-path')) {
                    app.path = response.headers.get('x-app-path');
                }

                // extract content
                let contentMatch = response.body.match(/<!-- content -->\s*(.*)\s*<!-- \/content -->/s);
                if (contentMatch) {
                    this.fetchedContent = {
                        template: `<div>${contentMatch[1]}</div>`,
                        store: this.$store,
                        http: this.$http,
                        router: this.$router
                    };
                } else if (response.body.match(/Symfony.*Exception/)) {
                    this.fetchedContent = {
                        template: `<iframe class="symfony-error"></iframe>`,
                    };
                    this.renderFullPage(response.data);
                }

                // hide initial content
                this.showInitialContent = false;

                // fade in
                this.$nextTick(() => this.loading = false);

                // scroll to section
                if (location.hash) {
                    this.scrollToElement(location.hash);
                }
            },

            renderFullPage(html) {
                let iframe = this.$el.querySelector('iframe');
                if (!iframe) {
                    return setTimeout(() => {
                        this.renderFullPage(html);
                    }, 100);
                }

                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(html);
                iframe.contentWindow.document.close();
            },

            scrollToElement: app.debounce(function (selector) {
                if (!selector) {
                    return this.$vuetify.goTo('#app-container', { duration: this.transitionDuration});
                }

                if (!document.querySelector(selector)) {
                    return;
                }

                this.$vuetify.goTo(selector, { duration: this.transitionDuration});
            }, 250)
        }
    }
</script>

<style lang="scss" scoped>
    @import '../css/variables';
    .app-content {
        background-color: $content-bg-color;
        color: $content-color;
        padding: 16px 0;
        margin-left: 0;
        transition-timing-function: ease-in-out;

        &.loading {
            opacity: 0;
            margin-left: -10px;
        }

        /* symfony errors */
        iframe.symfony-error {
            border: none;
            width: 100%;
            height: 600px;
        }
    }
</style>
