<template>
    <footer class="app-footer">
        <div class="boxed">
            <slot></slot>
        </div>
    </footer>
</template>

<script>
export default {
    data() {
        return {};
    },

    methods: {}
};
</script>

<style lang="scss" scoped>
@import "../css/variables";
.app-footer {
    min-height: $footer-min-height;
    padding-top: calc(#{$footer-min-height}/ 2 - 1em);
    background-color: $footer-bg-color;
    color: $footer-color;
}
</style>
