<template>
    <nav class="app-nav">
        <div class="boxed">
            <slot></slot>
        </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {};
    },

    methods: {}
};
</script>

<style lang="scss">
@import "../css/variables";
.app-nav {
    background-color: $nav-bg-color;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    padding: 8px 0;

    .router-link-exact-active {
        font-weight: 600;
    }

    span {
        display: inline-block;
        margin: 0 16px;
        &:first-child {
            margin-left: 0;
        }
        a {
            text-decoration: none;
            color: $nav-color;
        }
    }
}
</style>
