<template>
    <v-app light class="app-layout">
        <app-header app>
            <template #header-content>
                <slot name="header-content"></slot>
            </template>
        </app-header>
        <app-nav app>
            <slot name="nav"></slot>
        </app-nav>
        <v-content>
            <app-content>
                <slot name="content"></slot>
            </app-content>
        </v-content>
        <slot></slot>
        <app-footer app>
            <slot name="footer"></slot>
        </app-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {};
    },

    mounted() {
    },

    methods: {
    }
};
</script>

<style lang="scss" scoped>
@import "../css/variables.scss";

.app-layout {
    background-color: $app-bg-color;
}
</style>
