<template>
    <header class="app-header">
        <div class="boxed">
            <slot name="header-content"></slot>
        </div>
    </header>
</template>

<script>
export default {
    data() {
        return {};
    },

    methods: {}
};
</script>

<style lang="scss">
@import "../css/variables";
.app-header {
    min-height: $header-min-height;
    padding-top: calc(#{$header-min-height}/ 2 - 1em);
    background-color: $header-bg-color;
    color: $header-color;

    a {
        color: $header-color;
        text-decoration: none;
    }
}
</style>
