<router-link tag="span" to="{{ path('home') }}" class="home">
    <a href="{{ path('home') }}">Home</a>
</router-link>
<router-link tag="span" to="{{ path('imprint') }}">
    <a href="{{ path('imprint') }}">Imprint</a>
</router-link>
