<!DOCTYPE html>
<html lang="{{ meta.locale }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="{{ meta.robots }}"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content="{{ meta.description }}"/>
    <meta name="viewport" content="{{ meta.viewport }}"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta name="og:site_name" content="{{ appTitle }}"/>
    <meta name="og:title" content="{{ viewTitle }}"/>
    <meta name="og:type" content="{{ meta.facebook.type }}"/>
    <meta name="og:image" content="{{ asset(meta.facebook.icon) }}"/>

    {% if meta.schema.type %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "{{ meta.schema.type }}",
            "url": "{{ appUrl }}",
            "name": "{{ appTitle }}",
            "description": "{{ meta.description }}",
            "image": "{{ asset(meta.schema.icon) }}"
        }
    </script>
    {% endif %}

    {% if meta.schema.organization.name %}
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{ meta.schema.organization.name }}",
            "address": {
                "streetAddress": "{{ meta.schema.organization.street }}",
                "postalCode": "{{ meta.schema.organization.postalCode }}",
                "addressLocality": "{{ meta.schema.organization.city }}",
                "addressRegion": "{{ meta.schema.organization.state }}",
                "addressCountry": "{{ meta.schema.organization.country }}"
            },
            "email": "{{ meta.schema.organization.email }}",
            "telephone": "{{ meta.schema.organization.phone }}"
        }
    </script>
    {% endif %}

    <base href="{{ app.request.baseUrl ? app.request.baseUrl : '/' }}"/>

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}?{{ appVersion }}" data-size="48x48"/>
    <link rel="apple-touch-icon" href="{{ asset(appIcon) }}?{{ appVersion }}" data-size="152x152"/>
    <link rel="manifest" href="{{ asset('manifest.json') }}?{{ appVersion }}"/>
    <style type="text/css">#app-container {transition: opacity 1s;opacity: 0.01;}</style>

    <title>{% block title %}{{ viewTitle }}{% endblock %}</title>
</head>
<body>
    {% block body %}
    <div id="app-container">
        <app-layout>
            <template #header-content>
                <a href="{{ path('home') }}">{{ appTitle }}</a>
            </template>
            <template #nav>
                {% include 'app-nav.html.twig' %}
            </template>
            <template #content>
                <!-- content -->
                {% block content %}
                {{ content|raw }}
                {% endblock %}
                <!-- /content -->
            </template>
            <template #footer>
                v{{ appVersion }}
            </template>
        </app-layout>
    </div>
    {% endblock %}

    <script type="text/javascript">
        window.app = {
            version: "{{ appVersion }}",
            base: "{{ app.request.baseUrl ? app.request.baseUrl : '/' }}",
            path: "{{ app.request.pathInfo }}"
        };

        {% set polyfills = include('polyfills.js') %}
        {{ polyfills|replace({"\n": "", "    ": " "})|raw }}
    </script>

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script type="text/javascript">
        // fade in
        setTimeout(function() {
            document.querySelector("#app-container").style.opacity = 1
        }, 500);
    </script>
</body>
</html>
