{
  "name": "{{ title }}",
  "start_url": "{{ app.url }}",
  "display": "standalone",
  "orientation": "any",
  "version": "{{ app.version }}",
  "icons": [
    {
      "src": "{{ app.icon }}",
      "sizes": "152x152",
      "type": "image/png"
    }
  ]
}
